* {
    padding: 0;
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    background-color: #cdfded;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .loading h1 {
    color: #96b671;
    font-weight: 600;
    text-transform: uppercase;
  }
  .loading p {
    font-weight: 400;
    color: #b7a0d5;
    letter-spacing: 2px;
    margin-bottom: 10vh;
  }
  .loading ul {
    list-style-type: none;
    height: 60px;
  }
  .loading ul li {
    width: 7px;
    display: inline-block;
    margin-right: 5px;
    background-color: #995075;
    vertical-align: middle;
  }
  .loading ul li:first-child {
    animation: bar1 0.5s linear 0s infinite;
  }
  .loading ul li:nth-child(2) {
    animation: bar1 0.5s linear 0.2s infinite;
  }
  .loading ul li:last-child {
    animation: bar1 0.5s linear 0.4s infinite;
  }
  @keyframes bar1 {
    0% {
      height: 15px;
      margin-top: 20px;
    }
    50% {
      height: 50px;
      margin-top: 0px;
    }
    100% {
      height: 15px;
      margin-top: 20px;
    }
  }
  